.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  color: #fff;
  box-shadow: 0 1px 5px -3px #2E4CA6;
}
  
  .navbar-logo a {
    color: #000;
    text-decoration: none;
    font-size: 1.2em;
    font-weight: bolder;
  }
  
  .navbar-search input {
    padding: 0px 10px;

    width: 400px;
    height: 40px;

    font-size: 1em;
    border-radius: 50px;

    text-align: left;
  }
  
  .navbar-icons {
    display: flex;
    gap: 15px;
  }
  
  .navbar-icon {
    color: #fff;
    text-decoration: none;
    font-size: 1.5em;
  }