.main-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    padding: 50px;
    box-sizing: border-box;
  }
  