.main-calendar-wrap {
    margin-top: 20px;
    background-color: #cfdaf2;
}

.title-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 15px;
    margin-bottom: 5px;
}

.title {
    text-align: left;
    font-size: 1.6em;
    margin: 0;
    color: #2E4CA6;
}

.calendar-header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    font-size: 1.2em;
    border-bottom: 1px solid #e2e2e2;
}

.calendar-header button {
    width: 40px;
    height: 40px;
    margin: 0 17px;
    color: #2E4CA6;
    border: none;
    background-color: transparent;
    font-size: 1.2em;
    font-weight: bold;
    cursor: pointer;
    transition: color 0.3s, transform 0.2s;
}

.calendar-header button:hover {
    color: #1e3575;
    transform: scale(1.1);
}

.calendar-header button:active {
    transform: scale(0.95);
}

.calendar-header span {
    font-weight: bold;
    color: #2E4CA6;
}

.calendar-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 5px;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
}

.calendar-day {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    background-color: #ffffff;
    border: 1px solid #ffffff;
    border-radius: 5px;
    position: relative;
    cursor: pointer;
}

.calendar-day.empty {
    border: 1px solid #cfdaf2;
    background-color: #cfdaf2;
}

.calendar-day.header {
    background-color: #2E4CA6;
    border: 1px solid #2E4CA6;
    color: #fff;
    font-weight: bold;
}

.calendar-day.header:hover {
    background-color: #2E4CA6;
    color: #fff;
}

.calendar-day.reserved {
    border: 1px solid #e6f0fa;
    background-color: #e6f0fa;
}

.calendar-day.selected {
    border: 1px solid #2E4CA6;
    background-color: #d0e0f5;
}

.calendar-day:hover {
    background-color: #f0f0f0;
}

.reservation-marker {
    position: absolute;
    bottom: 5px;
    right: 5px;
    width: 12px;
    height: 12px;
    background-color: #2E4CA6;
    border-radius: 50%;
    color: white;
    font-size: 0.8em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.reservation-list {
    margin-top: 15px;
    padding: 10px;
    background-color: #ffffff;
    border-top: 1px solid #e2e2e2;
    border-radius: 8px;
    text-align: left;
}

.reservation-list h3 {
    margin: 0 0 10px 0;
    font-size: 1.2em;
    color: #2E4CA6;
}

.reservation-list ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.reservation-list li {
    margin: 17px 0;
}

.reservation-list p {
    color: #666;
    font-style: italic;
}

@media (max-width: 768px) {
    .main-calendar-wrap {
        padding: 5px;
    }

    .title {
        font-size: 1.2em;
    }

    .calendar-grid {
        gap: 3px;
    }

    .calendar-day {
        height: 40px;
    }
}